@charset "utf-8";

* {
	margin:0;
	padding:0;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    min-height: 100vh;
    background: url(img/bg.png);
    color: #fff;
}

#main {
    position: relative;
    width: 960px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 16px;
    background: #292e34;
}

h1 {
    padding: 16px 16px;
}

h2 {
    padding: 16px 16px;
}

h3 {
    padding: 16px 0px;
    color: #0dd02a;
}

h4 {
    padding: 8px 8px;
    border-left: 4px solid #df4b33;
}

p {
    padding: 8px 24px;
}

a {
    color: #df4b33;
}

em {
    color: #df4b33;
    font-style: normal;
}

button{
    font-size: 100%;
    margin: 8px;
    padding: 8px 32px;
    color: #000;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

button.confirm{
    background: #0dd02a;
}

.toolBlock{
    padding: 16px 0;
    border-bottom: 2px solid #fff;
}

.toolInfo{
    font-size: 80%;
    color: #999;
}

ul {
    padding: 8px 8px 8px 24px;
}

li {
    padding: 4px;
}